{% extends "base.html.twig" %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="ui main text container">
        <h1>hello, LuoguLite!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis tempus mauris, ut gravida justo viverra eget. Aliquam ac aliquam tortor. Nam eu finibus lorem. Duis at sem vehicula, condimentum nisi quis, luctus dui. Nam sed quam elit. Donec vulputate interdum tempus. In vehicula ac urna nec rutrum. Suspendisse potenti. Fusce ut nisi varius, pretium massa non, auctor diam. Praesent dapibus ipsum eget egestas rutrum. Morbi imperdiet augue id lorem egestas eleifend. Vivamus bibendum ligula pretium velit elementum, in vehicula odio congue. Sed dapibus, erat sit amet mollis molestie, leo risus mollis mi, id pretium augue sapien et ante. Cras diam erat, interdum vitae sodales at, accumsan non massa.
        <p>Nam sed tellus tortor. Pellentesque mattis pellentesque neque, vel gravida ex condimentum eget. Vivamus volutpat felis lacus, quis tristique arcu pharetra vel. Proin risus urna, congue vitae neque sed, cursus condimentum nulla. Praesent aliquet dui tortor, ac accumsan odio efficitur eget. Morbi feugiat ultrices nisl, ut accumsan lorem consequat eu. Vivamus in mollis risus, vitae fringilla ante. Etiam id est elit.
        <p>Nullam sed maximus ipsum. Suspendisse gravida erat vel purus volutpat, eu ornare metus malesuada. Nullam sollicitudin interdum dapibus. Donec sodales lacus in ligula ultrices, sed rutrum purus lacinia. Donec blandit ut enim eu cursus. Ut efficitur id est at interdum. Nullam bibendum nulla porttitor neque hendrerit maximus. Praesent fermentum metus eget mi tristique blandit. Mauris at mi faucibus, congue lorem sed, elementum felis.</p>
    </div>
{% endblock %}